.section {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.text {
    text-align: center;

    font-weight: 600;
    font-size: 22px;
    line-height: calc(22/16);
    letter-spacing: 0.3px;
}