.section {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    font-weight: 700;

	background-color: black;
	color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    color: rgb(255, 255, 255);
}

.svg {
    width: 50px;
    height: 50px;
}

.svg:hover {
    fill: rgba(255, 255, 255, 0.8);
}

.text {
    font-size: 16px;
}