.section {
    padding-top: 70px;
    padding-bottom: 70px;

    color: white;
    background-color: #252526;

    text-align: center;
}

.title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 60px;

    background: linear-gradient(90deg, rgba(255, 88, 232, 1) 10%, rgba(15, 165, 255, 1) 47%, rgba(110, 255, 153, 1) 80%);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 25%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 25%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.list {
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    width: 570px;
}

.item:not(:last-child) {
    margin-bottom: 50px;
}

.itemTitle {
    margin-bottom: 40px;

	font-weight: 700;
    font-size: 45px;
	line-height: 1.3;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
	line-height: 1.3;
}

/* Skills styles */
.skillList {
    list-style: none;
}

.skillItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillItem:hover,
.skillItem:focus {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform ease .5s;
}

.skillItem:not(:last-child) {
    margin-bottom: 25px;
}

.skillTitle {
    text-align: start;
    font-size: 22px;
}

.skillProgressBarContainer {
    width: 300px;
    height: 10px;
    outline: 1px solid white;
    border-radius: 5px;
}

.skillProgressBar {
    width: var(--width);
    height: 10px;
    background: linear-gradient(90deg, rgba(255, 88, 232, 1) 10%, rgba(15, 165, 255, 1) 47%, rgba(110, 255, 153, 1) 80%);
    /* background-size: 100% 100%; */

    border-radius: 5px;

    /* animation: gradient 3s infinite; */
    animation: progress 5s ease-in;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: var(--width);
    } 
}

.skillProgressBar.js {
    --width: 270px;
}

.skillProgressBar.restAPI {
    --width: 290px;
}

.skillProgressBar.react {
    --width: 290px;
}

.skillProgressBar.redux {
    --width: 270px;
}

.skillProgressBar.semantic {
    --width: 300px;
}

.skillProgressBar.css {
    --width: 290px;
}

.skillProgressBar.responsive {
    --width: 290px;
}

.skillProgressBar.node {
    --width: 150px;
}

.skillProgressBar.express {
    --width: 270px;
}

.skillProgressBar.mongoDB {
    --width: 250px;
}

.skillProgressBar.mongoose {
    --width: 250px;
}

.skillProgressBar.unit {
    --width: 50px;
}

.skillProgressBar.docker {
    --width: 50px;
}

.skillProgressBar.webSockets {
    --width: 150px;
}

.skillProgressBar.socket {
    --width: 150px;
}

.skillProgressBar.figma {
    --width: 280px;
}
