.section {
    padding-top: 70px;
    padding-bottom: 70px;

    color: white;
    background-color: #252526;

    text-align: center;
}

.title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 60px;

    background: linear-gradient(90deg, rgba(255, 88, 232, 1) 10%, rgba(15, 165, 255, 1) 47%, rgba(110, 255, 153, 1) 80%);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 25%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 25%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.list {
    list-style: none;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.item:not(:last-child) {
    margin-bottom: 35px;
}

.itemTitle {
    margin-bottom: 20px;

	font-weight: 700;
    font-size: 40px;
	line-height: 1.3;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
	line-height: 1.3;
}